.contenidoCard {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    margin-top: 0 auto;
    background-color: #e8f0f8;
    
}

.card {
    width: 100%;
    height: 100vh;
    margin: 5px;

}